{% extends "main.html" %}
{% block content %}

<div class="chapter_create">
  {{form.as_p}}
  <button id="chapter-btn">Submit</button>
</div>
<div id="message">

</div>

<div class="chapter-list">
</div>


<script>
  const container2 = document.querySelector('.chapter-list');
  var messages = document.getElementById('message')
  url = 'https://schooltestproject.herokuapp.com/academics/chapters/'

  function get(){
  fetch(url).then(res => {
    return res.json()
  }).then(data => {
    let table2 = '<table>';
    table2 += `<tr><th>subject</th><th>Chapter No.</th><th>Chapter</th><th>Description</th><th>Edit</th><th>Delete</th></tr>`;
    data.forEach((d, index) => {
      table2 = table2 + `<tr id=${d.id}>`;
      table2 = table2 + '<td class="subject">' + `${d.subject}` + '</td>';
      table2 = table2 + '<td class="chapter_no">' + `${d.chapter_no}` + '</td>';
      table2 = table2 + '<td class="name">' + `${d.name}` + '</td>';
      table2 = table2 + '<td class="description">' + `${d.description}` + '</td>',
        table2 = table2 + '<td>' + `<a href=# id="edit" >Edit</a>` + '</td>',
        table2 = table2 + '<td>' + `<a href=# id="delete" >delete</a>` + '</td>',
        table2 = table2 + `</tr>`;
      })
      table2 += "</table>";
      container2.innerHTML = table2;

  })
  };
  get();


container2.addEventListener('click',(e) => {
  form_subject = document.getElementById('id_subject')
  form_chapter_no = document.getElementById('id_chapter_no')
  form_name = document.getElementById('id_name')
  form_description = document.getElementById('id_description');
  chapter_btn = document.getElementById('chapter-btn')
  e.preventDefault();
  let delbutton = e.target.id == 'delete';
  let editbutton = e.target.id == 'edit';
  let id = e.target.parentElement.parentElement.id;
  if(delbutton){
    const parent1 = e.target.parentElement.parentElement;
    var name = parent1.querySelector('.name').textContent
    if (confirm(`You want to delete chapter ${(e.target.parentElement.parentElement.querySelector('.name')).textContent}`)) {
      fetch(`${url}${id}/`,{
      method : 'DELETE',
    }).then(() => 
   messages.innerHTML =  `${name} is deleted succesfully`,get()
)
  }

  }

  if(editbutton){
    const parent = e.target.parentElement.parentElement;
    var subject = parent.querySelector('.subject').textContent;
    var chapter_no = parent.querySelector('.chapter_no').textContent;
    var name = parent.querySelector('.name').textContent;
    var description = parent.querySelector('.description').textContent;
    form_subject.value = subject
    form_chapter_no.value = chapter_no
    form_name.value = name
    form_description.value = description

    chapter_btn.addEventListener('click',()=>{
      fetch(`${url}${id}/`,{
        method : 'PUT',
        headers : {
          'content-Type' : 'application/json'
        },
        body: JSON.stringify({
          'subject' : form_subject.value,
          'chapter_no': form_chapter_no.value,
          'name' : form_name.value,
          'description': form_description.value,
        })
      }).then(res => res.json()).then(() => 
        messages.innerHTML =  `${form_name.value} is updated succesfully`,get()
      )
      
    }) 
  }
});
  

  const chapter_create = document.getElementById('chapter-btn')
  chapter_create.addEventListener('click',()=>{
      var chapterno = document.getElementById('id_chapter_no').value
      var name = document.getElementById('id_name').value
      var description = document.getElementById('id_description').value
      var subject = document.getElementById('id_subject').value

        fetch('http://127.0.0.1:8000/academics/chapters/',
        {
          method: 'POST',
          body: JSON.stringify({ 'chapter_no': chapterno, 'name': name, 'description': description, 'subject': subject }
          ),
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
        }).then(function (response) {
          if (response.status == 201) {
            console.log("Sucess response", response)
            messages.innerHTML = `${name} is created succesfully`;
            get();
            return response.json();
          }else{
            console.log(response);
          }
        })
  })
</script>

{% endblock %}
