<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        
    </style>
</head>
<body>
    <h1>chapter </h1>
    <table>
        <thead>
            <tr>
                <th>grade</th>
                <th>subject</th>
                <th>chapter_no</th>
                <th>chapter_name</th>
                <th>Description</th>
            </tr>
        </thead>{% for d in data %}<tr>
            <td align="center">{{d.grade}}
            <td align="center">{{d.subject}}
            <td align="center">{{d.chapter_no}}
            <td align="center">{{d.name}}
            <td align="center">{{d.description}}
        </tr>
        <div style="break-after:page"></div>{% endfor %}
    </table>

</body>
</html>