{% extends "base.html" %}
{% block content %}
<div class="grade-container">

    <div id="grade-list" class="grade-list">

    </div>

    <div id="subjects-by-grade" class="subjects-by-grade">

            <h2 >Grade - <span id="grade-title"></span> </h2>
            <hr>
            <div class="subject-head">
        <a type="button" class="btn btn-primary" id="back-btn" onclick=get()>Back</a>
        <h3 class="subject-title-subjects"> Subjects </h3>
        </div>
        <div class="cards">
        </div>
    </div>


    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="messages container-fluid">

            </div>
            <div class="error-messages container-fluid">
        
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="delete-box-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="delete-box">
            <h4>Are you want to delete?</h4>
            <p class="chapter-btns">  </p>
        </div>
      </div>
      <div class="modal-footer">
        <button id="delete-btn-yes" class="delete-btn-yes btn btn-danger">Yes</button>
        <button id="delete-btn-no" data-dismiss="modal" aria-label="Close" class="delete-btn-no btn btn-primary">Back</button>
      </div>
    </div>
  </div>
</div>



    <div id="chapterlist" class="chapterlist">
      
        <!-- <h3 >Grade - <span id="grade-title"></span> </h3> -->
        <h2><span id="subject-title"></span> </h2>
        <h4 >Grade - <span id="grade-title-chapter"></span> </h4>
        <hr>
        <div class="subject-head">
        <a type="button" class="btn btn-primary" id="back-btn-chapter">Back</a>
    <h3 class="subject-title-subjects"> Chapters </h3>
    </div>
        <div class="chapter-cards">
        </div>
    </div>
    <!-- <div class="delete-box">
        <h4>Are you want to delete?</h4>
        <p class="chapter-btns"> <button id="delete-btn-yes" class="delete-btn-yes btn btn-danger">Yes</button> <button id="delete-btn-no" class="delete-btn-no btn btn-primary">Back</button> </p>
    </div> -->

    <div id="grade">

        {% csrf_token %}
        <div class="form-all">
            
        </div>
        <button class="submit-btn" data-toggle="modal" data-target="#messageModal" id="grade-btn">Submit</button>
        <button class="submit-btn" data-toggle="modal" data-target="#messageModal" id="subject-btn">Submit</button>
        <button class="submit-btn" data-toggle="modal" data-target="#messageModal" id="chapter-btn">Submit</button>
    </div>
    <div class="messages container-fluid">

    </div>
    <div class="error-messages container-fluid">

    </div>

</div>
<script>
    var delete_box = document.querySelector('.delete-box');
    delete_box.style.display = 'none';
    var token = localStorage.getItem('token')
    var form_all = document.querySelector('.form-all')
    let edit = null
    const subject_create = document.getElementById('subject-btn')
    const grade_create = document.getElementById('grade-btn')
    // const subject_create = document.getElementById('subject-btn')
    const chapter_create = document.getElementById('chapter-btn')
    let messages = document.querySelector('.messages')
    let error_messages = document.querySelector('.error-messages')
    let container2 = document.querySelector('.cards')
    var subject_id;
    var grade_val;
    var container = document.querySelector('.cards')
    var host = window.location.protocol + "//" + window.location.host;
    var container3 = document.querySelector('.chapter-cards')
    var list = document.querySelector('.grade-list');

    document.getElementById('back-btn-chapter').addEventListener('click', () => {
        getsubject(grade_val,grade_id);
        messages.innerHTML = ''
        error_messages.innerHTML = ''
    })

    // get grade

    function get() {
        var content = ' <h2>Grades </h2> <hr> <div class="cards">'
        fetch('https://schooltestproject.herokuapp.com/api/grades/', {
            method: 'GET',
            headers: {
                'Authorization': 'token' + ' ' + token
            },
        }).then(res => {
            return res.json()
        }).then(data => {
            console.log(data.data)
            data.data.forEach((d, index) => {
                content = content + `  <div class="card"  id=${d.id}> <button onclick=deletegrade(${d.id})  data-toggle="modal" data-target="#delete-box-Modal" class='delete-grade'>&#x2715; </button>
        <p onclick=getsubject(${d.grade},${d.id}) class="grade">${d.grade} </p>
        
 </div>`
            })
            content += '</div>'
            list.innerHTML = content;
            container.innerHTML = ''
            document.getElementById('back-btn').style.display = "none"
            document.getElementById('back-btn-chapter').style.display = "none"
            document.getElementById('grade').style.height = '20vh';
            document.getElementById('subject-btn').style.display = "none"
            document.getElementById('chapter-btn').style.display = "none"
            document.getElementById('grade-btn').style.display = "block"
            document.getElementById('grade-list').style.display = "block"
            document.getElementById('chapterlist').style.display = "none"
            form_all.innerHTML = `<div class='grade-form-box'>{{gradeform.as_p}}</div>`
            document.getElementById('subjects-by-grade').style.display = "none"
            messages.innerHTML = ''
            error_messages.innerHTML = ''
            delete_box.style.display = 'none';
        })
    };
    if(token){
    get();
    }else{
        window.location.href=`${host}/login`  
    }
    // delete grade 
function deletegrade(id){
    delete_box.style.display = 'block';
    let url = 'https://schooltestproject.herokuapp.com/api/grades/'
    let yes_button = document.getElementById('delete-btn-yes')
    let no_btn = document.getElementById('delete-btn-no')
no_btn.addEventListener('click',()=>{
    get();
})

yes_button.addEventListener('click',()=>{
    fetch(`${url}${id}/`, {
        method: 'DELETE',
        headers: {
            'Authorization': 'token' + ' ' + token,
        },
    }).then(res => {console.log(res)
get();
    }
    )
})
}

    // create grade 
    grade_create.addEventListener('click', () => {
        var grade = document.getElementById('id_grade').value
        let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch('https://schooltestproject.herokuapp.com/api/grades/',
            {
                method: 'POST',
                body: JSON.stringify({ 'grade': grade }
                ),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'token' + ' ' + token,
                    'X-CSRFToken': csrftoken
                },
            })

            .then(function (response) {
                if (response.status == 201) {
                    console.log("Sucess response", response)
                    get();
                }
                return response.json();
            }).then(function (data) {
                console.log(data)
                if(data.success != 'success'){
                error_messages.innerHTML = `<li>${(data.data.error)}</li>`
                messages.innerHTML = ''
                }
            })
        return true;
    })


    // getting subjects

    function getsubject(val1,val2) {
        grade_val = val1
        grade_id = val2
        console.log(grade_val);

        form_all.innerHTML = `{{subjectform.as_p}} <br>`
        list.innerHTML = ''
        document.getElementById('grade-title').textContent = `${grade_val}`
        document.getElementById('grade-btn').style.display = "none"
        document.getElementById('subject-btn').style.display = "block"
        document.getElementById('chapter-btn').style.display = "none"
        document.getElementById('back-btn').style.display = "inline"
        document.getElementById('grade-list').style.display = "none"
        document.getElementById('chapterlist').style.display = "none"
        document.getElementById('subjects-by-grade').style.display = "block"
        delete_box.style.display = 'none';

        document.getElementById('grade').style.height = '28vh';
        url2 = new URL('https://schooltestproject.herokuapp.com/api/subject-list/');
        url2.searchParams.append('grade', grade_val);
        var content = ''
        fetch(url2, {
            method: 'GET',
            headers: {
                'content-Type': 'application/json',
                'Authorization': 'token' + ' ' + token,
            }
        }).then(res => {
            return res.json()
        }).then(data => {
            console.log(data)
            data.forEach((d, index) => {
                // <p><label> Grade </label> <span>: <span class="grade">${d.grade_name}</span></span></p>
                content = content + `<div class="subject-card"   id=${d.id}>
        <p><label> Subject </label> <span>: <span class="name">${d.name}</span></span></p>
        <p><label> Subject-code </label> <span>: <span class="code">${d.code}</span></span></p>
        <p> <a type="button" class="btn btn-primary ch-btn" href=# onclick=getchapter(${d.grade_name},'${d.name}',${d.id})>Chapters</a></p>
        <br>
        <p> <a style="color:blue;" href=# id="edit" >Edit</a> <a style="color:blue;"  data-toggle="modal" data-target="#delete-box-Modal" href=# id="delete" >delete</a></p>
 </div>`
            });
            container.innerHTML = content;
            
        })
    }

    console.log(subject_create)

    // create subjects

    subject_create.addEventListener('click', () => {
        var code = document.getElementById('id_code').value
        var name = document.getElementById('id_name').value
        let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        console.log(edit)
        if (!edit) {
            console.log(edit)
            fetch('https://schooltestproject.herokuapp.com/api/subjects/',
                {
                    method: 'POST',
                    body: JSON.stringify({ 'code': code, 'name': name, 'grade': grade_id }
                    ),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': 'token' + ' ' + token,
                        'X-CSRFToken': csrftoken
                    },
                }).then(function (response) {
                    if (response.status == 201) {
                        console.log("Sucess response", response)
                        messages.innerHTML = `${name} is created succesfully`;
                        error_messages.innerHTML = ''
                        // get();
                        getsubject(grade_val);
                    } else {
                        console.log(response);
                    }
                    return response.json()
                }).then(data => {
                    console.log(data)
                    if(data.status!='success'){
                        error_messages.innerHTML = `<li>${(data.data.error)}</li>`
                        messages.innerHTML = ''
                    }
                })
        }
    })


    // edit subjects

    container2.addEventListener('click', (e) => {
        //   form_grade = document.getElementById('id_grade')
        form_code = document.getElementById('id_code')
        form_name = document.getElementById('id_name')
        let url = 'https://schooltestproject.herokuapp.com/api/subjects/'
        subject_btn = document.getElementById('subject-btn')
        e.preventDefault();
        let delbutton = e.target.id == 'delete';
        let editbutton = e.target.id == 'edit';
        edit = editbutton
        console.log(edit)
        let id = e.target.parentElement.parentElement.id;
        console.log(e.target.parentElement.parentElement.id)
        let yes_button = document.getElementById('delete-btn-yes')
        let no_btn = document.getElementById('delete-btn-no')
        if (delbutton) {
            delete_box.style.display = 'block';

            const parent1 = e.target.parentElement.parentElement;
            var name = parent1.querySelector('.name').textContent
            no_btn.addEventListener('click',()=>{
                getsubject(grade_val,grade_id);
            })

            yes_button.addEventListener('click',()=>{
                fetch(`${url}${id}/`, {
                    method: 'DELETE',
                    headers: {
                        'Authorization': 'token' + ' ' + token,
                    },
                }).then(res => console.log(res)
                )
                getsubject(grade_val,grade_id);
            })

        }
      
        if (editbutton) {
            window.location.href = '#grade';
            const parent = e.target.parentElement.parentElement;
            // var grade = parent.querySelector('.grade').textContent;
            var code = parent.querySelector('.code').textContent;
            var name = parent.querySelector('.name').textContent;
            form_code.value = code
            form_name.value = name
            let id = e.target.parentElement.parentElement.id
            console.log(e.target.parentElement.parentElement.id)
            console.log(e.target.parentElement.parentElement)
            console.log(id)
            console.log(grade_val)
            let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            subject_btn.addEventListener('click', () => {
                console.log(edit)
                if (edit) {
                    fetch(`${url}${id}/`, {
                        method: 'PUT',
                        headers: {
                            'content-Type': 'application/json',
                            'Authorization': 'token' + ' ' + token,
                            'X-CSRFToken': csrftoken
                        },
                        body: JSON.stringify({
                            'grade': grade_val,
                            'code': form_code.value,
                            'name': form_name.value,
                        })
                    }).then(function (response) {
                    if (response.status == 200) {
                        console.log("Sucess response", response)
                        messages.innerHTML = `${name} is updated succesfully`;
                        error_messages.innerHTML = ''
                        // get();
                        getsubject(grade_val,grade_id);
                    } else {
                        console.log(response);
                    }
                    return response.json()
                    }).then(data => {
                    console.log(data)
                    if(data.status!='success'){
                        error_messages.innerHTML = `<li>${(data.data.error)}</li>`
                        messages.innerHTML=''
                    }
                })

                }
            })
        }
    });

    // get chapter

    function getchapter(val1, val2,val3) {
        grade_val = val1
        subject_val = val2
        subject_id = val3
        subject_val = (subject_val).toUpperCase()
        console.log(grade_val);
        console.log(subject_val)
        list.innerHTML = ''
        container.innerHTML = ''
        form_all.innerHTML = `{{chapterform.as_p}} <br>`
        document.getElementById('grade-title-chapter').textContent = `${grade_val}`
        document.getElementById('subject-title').textContent = `${subject_val}`
        document.getElementById('grade-btn').style.display = "none"
        document.getElementById('subject-btn').style.display = "none"
        document.getElementById('chapter-btn').style.display = "block"
        document.getElementById('back-btn').style.display = "none"
        document.getElementById('back-btn-chapter').style.display = "inline"
        document.getElementById('grade-list').style.display = "none"
        document.getElementById('chapterlist').style.display = "block"
        document.getElementById('subjects-by-grade').style.display = "none"
        delete_box.style.display = 'none';
        document.getElementById('grade').style.height = '38vh';
        url3 = ('https://schooltestproject.herokuapp.com/api/chapter-list/');
        var content = ''
        fetch(url3, {
            method: 'POST',
            body: JSON.stringify({ 'grade': grade_val, 'subject': subject_val }
            ),
            headers: {
                'content-Type': 'application/json',
                'Authorization': 'token' + ' ' + token,
            }
        }).then(res => {
            return res.json()
        }).then(data => {
            container3.innerHTML = ''
            subject_id = data.data[0].subject_id
            console.log(data.data[0].subject_id)
            data.data.forEach((d, index) => {
                // <p><label> Subject </label> <span>: <span id="${d.subject_id}" class="subject">${d.subject}</span></span></p>
                content = content + `<div class="chapter-card" id=${d.id}>
        <p><label> Chapter_no </label> <span>: <span class="chapter_no">${d.chapter_no}</span></span></p>
        <p><label> Chapter </label> <span>: <span class="name">${d.name}</span></span></p>
        <p><label> Description </label> <span>: <span class="description">${d.description}</span></span></p>
        <br>
        <p> <a style="color:blue;" href=# id="edit" >Edit</a> <a style="color:blue;"  data-toggle="modal" data-target="#delete-box-Modal" href=# id="delete" >delete</a></p>
 </div>`
            });
            container3.innerHTML = content;
          

            console.log(document.querySelector('.submit-btn').id)
        })
    }

    // chapter edit


    container3.addEventListener('click', (e) => {
        //   form_subject = document.getElementById('id_subject')
        form_chapter_no = document.getElementById('id_chapter_no')
        form_name = document.getElementById('id_name')
        form_description = document.getElementById('id_description');
        chapter_btn = document.getElementById('chapter-btn')
        e.preventDefault();
        let delbutton = e.target.id == 'delete';
        let editbutton = e.target.id == 'edit';
        edit = editbutton
        let id = e.target.parentElement.parentElement.id;
        console.log(e.target.parentElement.parentElement)
        let yes_button = document.getElementById('delete-btn-yes')
        let no_btn = document.getElementById('delete-btn-no')
        if (delbutton) {
            delete_box.style.display = 'block';
            const parent1 = e.target.parentElement.parentElement;
            var name = parent1.querySelector('.name').textContent
            no_btn.addEventListener('click',()=>{
                getchapter(grade_val,subject_val,subject_id);
            })

            yes_button.addEventListener('click',()=>
 {
                fetch(`https://schooltestproject.herokuapp.com/api/chapters/${id}/`, {
                    method: 'DELETE',
                    headers: {
                        'Authorization': 'token' + ' ' + token
                    },
                }).then(() =>{
            getchapter(grade_val,subject_val,subject_id);  }
                )
            })

        }

        if (editbutton) {
            window.location.href = '#grade';
            const parent = e.target.parentElement.parentElement;
            // var subject = parent.querySelector('.subject').id;
            var chapter_no = parent.querySelector('.chapter_no').textContent;
            var name = parent.querySelector('.name').textContent;
            var description = parent.querySelector('.description').textContent;
            // form_subject.value = subject
            form_chapter_no.value = chapter_no
            form_name.value = name
            form_description.value = description
            let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            url3 = 'https://schooltestproject.herokuapp.com/api/chapters/'
            chapter_btn.addEventListener('click', () => {
                if (edit) {
                    fetch(`${url3}${id}/`, {
                        method: 'PUT',
                        headers: {
                            'content-Type': 'application/json',
                            'Authorization': 'token' + ' ' + token,
                            'X-CSRFToken': csrftoken
                        },
                        body: JSON.stringify({
                            'subject': subject_id,
                            'chapter_no': form_chapter_no.value,
                            'name': form_name.value,
                            'description': form_description.value,
                        })
                    }).then(function (response){
                        if (response.status == 200) {
                        console.log("Sucess response", response)
                        messages.innerHTML = `${name} is updated succesfully`;
                        error_messages.innerHTML = ''
                        getchapter(grade_val,subject_val,subject_id);
                    } else {
                        console.log(response);
                    }
                    return response.json()
                    
                    }).then(data => {
                    console.log(data)
                    if(data.status!='success'){
                        error_messages.innerHTML = `<li>${(data.data.error)}</li>`
                        messages.innerHTML = ''
                    }
                }
                    )

                }
            })
        }
    });

    // create chapter

    chapter_create.addEventListener('click', () => {
        var chapterno = document.getElementById('id_chapter_no').value
        var name = document.getElementById('id_name').value
        var description = document.getElementById('id_description').value
        console.log(subject_id)
        let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        if (!edit) {
            fetch('https://schooltestproject.herokuapp.com/api/chapters/',
                {
                    method: 'POST',
                    body: JSON.stringify({ 'chapter_no': chapterno, 'name': name, 'description': description, 'subject': subject_id }
                    ),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                }).then(function (response) {
                    if (response.status == 201) {
                        console.log("Sucess response", response)
                        messages.innerHTML = `${name} is created succesfully`;
                        error_messages.innerHTML = ''
                        getchapter(grade_val,subject_val,subject_id);
                    } else {
                        console.log(response);
                    }
                    return response.json()
                }).then(data => {
                    console.log(data)
                    if(data.status!='success'){
                        error_messages.innerHTML = `<li>${(data.data.error)}</li>`
                        messages.innerHTML = ''
                    }
                })
        }
    })

</script>




{% endblock %}