{% extends "base.html" %}
    {% block content %}
       <div id="grade-box">

        {% csrf_token %}
        {{form.as_p}}
       
        <button id="grade-btn"onclick=creategrade()>Create</button>
       </div>
       <div class="grade-list">

      </div>
<script>
    var token = localStorage.getItem('token')
    function creategrade() {
       var grade = document.getElementById('id_grade').value
       let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
   
       fetch('https://schooltestproject.herokuapp.com/academics/grades/',
            {
           method: 'POST',
           body: JSON.stringify({ 'grade': grade }
           ),
           headers: {
               'Accept':'application/json',
               'Content-Type': 'application/json',
               'Authorization':'token'+' '+token,
               'X-CSRFToken': csrftoken
           },
       })

       .then(function(response) {
           if (response.ok) {
               console.log("Sucess response",response)
               return response.json();
           } else {
               throw new Error("Could not reach the API: " + response.statusText);
           }
       }).then(function(data) {
        console.log(data)
       }).catch(function(error) {
          console.log(error.message)
       });
   return true;
}

var list = document.querySelector('.grade-list');

function get(){
  fetch('https://schooltestproject.herokuapp.com/academics/grades/',{
      method : 'GET',
      headers : {
        // 'X-CSRFToken': csrftoken,
        'Authorization':'token'+' '+token 
      },
    }).then(res => {
    return res.json()
  }).then(data => {
    let table2 = '<table>';
    table2 += `<thead class="thead"><th>No</th><th>grade</th></thead>`;
    console.log(data.data)
    data.data.forEach((d, index) => {
      table2 = table2 + `<tr id=${d.id}>`;
      table2 = table2 + `<td >` + `${index}` + '</td>';
      table2 = table2 + '<td>' + `${d.grade}` + '</td>';

        table2 = table2 + `</tr>`;
      })
      table2 += "</table>";
      list.innerHTML = table2;

  })
  };
  get();


</script>
<!-- 
        </div>
        <div>

            <table class="table">
                <thead class="thead">
                  <tr>                   
                    <th scope="col">Grade</th>                
                  </tr>
                </thead>
                {% for l in grade %}
              
      
                <tbody>                   
                  <tr>                   
                    <td>{{l.grade}}</td>                                  
                  </tr>
              
                  {% endfor %}
              
          </tbody>
      </table>
              
                


            
        </div> -->
      
    {% endblock %}