{% extends "base.html" %}
{% block content %}


<div id="message">

</div>
<div class="error-messages container-fluid">

</div>
<div class="question-paper-list">
</div>


<div class="question-paper-subject" >
  <div class="question-paper">
      <p> here get your question-paper pdf link </p>
  </div>


  <div class="question-paper-form">

    <div class="q-form">
      {% csrf_token %}
      <!-- {{form.as_p}} -->
      <p><label for="id_grade">Grade:</label> <input type="text" name="grade" maxlength="14" required="" id="id_grade"></p>
      <p><label for="id_subject">Subject:</label> <input type="text" name="subject" maxlength="20" required="" id="id_subject"></p>
      <p><label for="id_no_of_questions">No of questions:</label> <input type="text" name="no_of_questions" maxlength="20" required="" id="id_no_of_questions"></p>
      <p class="chapter-btns"> <button  id="chapter-btn" class="submit-btn btn btn-primary" onclick=getquestion()>Get</button>
        <button id="save-button" class="submit-btn btn btn-primary" onclick=savequestion()>Save</button></p>
    </div>
  </div>
</div> 


<!-- 
<div id="prev-question-heading" class="prev-question-heading">
  <h2 >Grade - <span id="grade-title-question"> </span></h2>
  <hr>
  <h3 id="subject-title-question"> </h3>
</div>
<div class="prev-question-papers">

</div> -->
   
   
<script>

  var messages = document.getElementById('message')
  var token = localStorage.getItem('token')
  let error_messages = document.querySelector('.error-messages')
  // var grade;
  // var grade_id;
  // var subject;
  // var subject_id;

  if (token){
  blank_url = 'https://schooltestproject.herokuapp.com'
  for_answer = '/api/question-paper/'
  url = 'https://schooltestproject.herokuapp.com/api/question-paper-list/'


// function getsubjectquestions(){
//   grade = document.getElementById('id_grade').value
//   subject = document.getElementById('id_subject').value
//   subject = subject.toUpperCase()

//   fetch(url,{ 
//         method : 'GET',
//         headers : {
//           'content-Type' : 'application/json',
//           'Authorization':'token'+' '+token,
//           // 'X-CSRFToken': csrftoken
//         }}).then(res =>  res.json()).then(data => {
//       console.log(data)
//       if(data.status=='success'){
//       let content = '';
//       subject = subject.toUpperCase();
//       console
//       data.data.forEach((d, index) => {
//        total_question = d.no_of_questions.length;
//        console.log(d.no_of_questions.length)
// //         <p >Grade : <span class="grade">${d.grade_name}</span></p>

// // <p >Subject : <span class="subject">${d.subject_name}</span></p>
//         date = d.created_at.slice(0,10)
//         if(grade == d.grade_name && subject == d.subject_name){

//           content = content + `<div class="question-paper-card" id='${d.id}'>


// <p >created_by : <span class="created_by">${d.created_by}</span></p>

// <p >created_at : <span class="created_at">${date}</span></p>

// <p > No of questions : ${total_question} </p>
// <button id="get-question-button" class="submit-btn btn btn-primary" onclick=getquestionanswerpaper(${d.id})>Get Question-papers</button>

// </div>
// `
// // <button id="get-answer" onclick=getanswers() >Get Answer file</button> 
// // <p> <a href='' class='ans-file'>download</a></p> 
// total_questions = 0;
//         }


//       })
//       container2.innerHTML = content;
//       document.getElementById('prev-question-heading').style.display = "block"
//       document.getElementById('grade-title-question').textContent = `${grade}`
//       document.getElementById('subject-title-question').textContent= `${subject}`
//     }    else{
      
//     }}

//     )


// }


function savequestion(){
             
  grade = document.getElementById('id_grade').value
  subject = document.getElementById('id_subject').value
  no_of_question= document.getElementById('id_no_of_questions').value
  console.log(grade+subject)
  let url1 = new URL('https://schooltestproject.herokuapp.com/api/question-paper/')
  url1.searchParams.append('type', 'save');
  let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
   console.log(url1)
  fetch(url1,{
      method: 'POST',
      body: JSON.stringify({ 'grade': grade,'subject':subject,'number_of_questions':no_of_question}
      ),
      headers: {
          'Accept':'application/json',
          'Content-Type': 'application/json',
          'Authorization':'token'+' '+token,
          'X-CSRFToken': csrftoken
  },
  }).then(response=> response.json()).then(data=>{
      console.log(data)
      if(data.status == 'success'){
  grade_id = data.grade_id
  subject_id = data.subject_id
      let path = `
       <p> Grade : ${data.data.grade_name} </p>
       <p> Subject : ${data.data.subject_name} </p>
       <p> Created_by : ${data.data.created_by} </p>
       <p> Number_of_questions : ${data.data.no_of_questions} </p>
       <p> Created Time : ${data.data.created_at} </p>
       question paper pdf file -  <p> Question-paper pdf file  <a onclick=downloadfile('https://schooltestproject.herokuapp.com${data.question_path}'')> -  download </a> </p>`
       
      let questionPath = document.querySelector('.question-paper')
      questionPath.innerHTML = path;
  // getquestionanswerpaper(data.data.id);
     }else{
       console.log(data.data)
       let questionPath = document.querySelector('.question-paper')
       if (data.data){
         questionPath.innerHTML = data.data
       }else{
         questionPath.innerHTML = data.detail
       }
       
     }
  })
}

function getquestion() {
  grade = document.getElementById('id_grade').value
  subject = document.getElementById('id_subject').value
  no_of_question= document.getElementById('id_no_of_questions').value
  console.log(grade+subject)
  let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  fetch('https://schooltestproject.herokuapp.com/api/question-paper/',{
      method: 'POST',
      body: JSON.stringify({ 'grade': grade,'subject':subject,'number_of_questions':no_of_question}
      ),
      headers: {
          'Accept':'application/json',
          'Content-Type': 'application/json',
          'Authorization':'token'+' '+token,
          'X-CSRFToken': csrftoken
  },
  }).then(response=> response.json()).then(data=>{
      console.log(data)
      if(data.status == 'success'){

      grade_id = data.grade_id
      subject_id = data.subject_id
      console.log(data.question_path)
      let uri = `https://schooltestproject.herokuapp.com`
      let path = `
<p> Question-paper pdf file  <a onclick=downloadfile('${uri}${data.question_path}')> -  download </a> </p>
          `;
      let questionPath = document.querySelector('.question-paper')
      questionPath.innerHTML = path;


     }else{
       if (data.data){
         questionPath.innerHTML = data.data
       }else{
         questionPath.innerHTML = data.detail
       }
     }

      
  })
}
 
function downloadfile(uri) {
  var link = document.createElement("a");
  link.download = 'answer';
  link.href = uri;
  console.log(link)
  document.body.appendChild(link);
  link.click();
  document.body.removeChild(link);
  delete link;
}


// function getquestionanswerpaper(id){
//   let url2 = new URL(`https://schooltestproject.herokuapp.com/api/question-paper/${id}/`)
//   url2.searchParams.append('type', 'file');
//   let uri = `${window.location.protocol}//${window.location.host}`
//   fetch(url2,{ 
//         method : 'GET',
//         headers : {
//           'content-Type' : 'application/json',
//           'Authorization':'token'+' '+token,
//           // 'X-CSRFToken': csrftoken
//         }}).then(res =>  res.json()).then(data => {

//           let path = `
//        <p> Grade : ${data.data.grade_name} </p>
//        <p> Subject : ${data.data.subject_name} </p>
//        <p> Created_by : ${data.data.created_by} </p>
//        <p> Number_of_questions : ${data.data.no_of_questions} </p>
//        <p> Created Time : ${data.data.created_at} </p>
//        question paper pdf file -  <p><a onclick=downloadfile('${uri}${data.data.file}')>download</a></p>
//        answer sheet -   <p><a onclick=downloadfile('${uri}${data.path}')">download</a></p>
//        `;
       
//       let questionPath = document.querySelector('.question-paper')
//       questionPath.innerHTML = path;
//         })

// }

// https://schooltestproject.herokuapp.com/academics/question-paper/1/


//   function get() {
//     fetch(url,{ 
//         method : 'GET',
//         headers : {
//           'content-Type' : 'application/json',
//           'Authorization':'token'+' '+token,
//           // 'X-CSRFToken': csrftoken
//         }}).then(res =>  res.json()).then(data => {
//       console.log(data)
//       let content = '';
//       subject = subject.toUpperCase();
//       console
//       data.data.forEach((d, index) => {
//  total_question = d.no_of_questions.length;
//  console.log(d.no_of_questions.length)
// //         <p >Grade : <span class="grade">${d.grade_name}</span></p>

// // <p >Subject : <span class="subject">${d.subject_name}</span></p>

//         if(grade_id == d.grade && subject_id == d.subject){

//           content = content + `<div class="question-paper-card" id='${d.id}'>

// <p>File: <a href='${blank_url}${d.file}'  class="file">${d.file}</a></p>

// <p >created_by : <span class="created_by">${d.created_by}</span></p>

// <p >created_at : <span class="created_at">${d.created_at}</span></p>

// <p > No of questions : ${total_question} </p>

// </div>
// `
// // <button id="get-answer" onclick=getanswers() >Get Answer file</button> 
// // <p> <a href='' class='ans-file'>download</a></p> 
// total_questions = 0;
//         }


//       })
//       container2.innerHTML = content;

//     })
//   };
  }else{
    window.location.href=`${host}/login`  
  }
 
 </script>
  {% endblock %}