{% extends "base.html" %}
{% block content %}

<div id="questionForm" class="question_create">
  <form>
    {%csrf_token%}
  {{questionform.as_p}}
  {{answerform.as_p}}
  <button class="question-btn" id="question-btn">Submit</button></form>
</div>
<div id="message">

</div>

<div class="question-list">
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  const container2 = document.querySelector('.question-list');
  var messages = document.getElementById('message')
  url = 'https://schooltestproject.herokuapp.com/academics/question/'

  function get() {
    fetch(url).then(res => {
      return res.json()
    }).then(data => {
      console.log(data)
      let content = '';
      data.forEach((d, index) => {
        content = content + `<div class="question-card" id='${d.id}'>

<p >Grade : <span class="grade">${d.grade}</span></p>

<p >Subject : <span class="subject">${d.subject}</span></p>

<p >Chapter : <span class="chapter">${d.chapter}</span></p>

<p >question : <span class="question">${d.question}</span></p>

<p >question_type : <span class="question_type">${d.question_type}</span></p>

<p >cognitive_level : <span class="cognitive_level">${d.cognitive_level}</span></p>
<p >difficulty_level : <span class="difficulty_level">${d.difficulty_level}</span></p>
<p > <span>  Options : </span> <br>
<p >option_a : <span class="option_a">${d.answers.option_a}</span></p>
<p >option_b : <span class="option_b">${d.answers.option_b}</span></p>
<p >option_c : <span class="option_c">${d.answers.option_c}</span></p>
<p >option_d : <span class="option_d">${d.answers.option_d}</span></p> </p>

<p >answer : <span class="answer">${d.answers.answer}</span></p> 

<a href=#" id='edit'>Edit</a>&nbsp<a href="#" id="delete">Delete</a></div>`
      })
      container2.innerHTML = content;

    })
  };
  get();
  var edit = null;

  $("#id_grade").change(function () {
      var url_for_change = 'https://schooltestproject.herokuapp.com/academics/ajax/load-subject/'; 
      var gradeId = $(this).val(); 

      $.ajax({                       
        url: url_for_change,                  
        data: {
          'grade': gradeId      
        },
        success: function (data) {
          $("#id_subject").html(data); 
        }
      });

    });

    $('#id_subject').change(function(){
        var url_for_change = 'https://schooltestproject.herokuapp.com/academics/ajax/load-subject/'; 
        var subjectId = $(this).val();

        $.ajax({
            url : url_for_change,
            data : {
                'subject':subjectId
            },
            success: function(data){
                $("#id_chapter").html(data)
            }
        });
    });
  
  container2.addEventListener('click', (e) => {
    form_grade = document.getElementById('id_grade')
    form_subject = document.getElementById('id_subject')
    form_chapter = document.getElementById('id_chapter')
    form_question = document.getElementById('id_question')
    form_question_type = document.getElementById('id_question_type')
    form_cognitive_level = document.getElementById('id_cognitive_level')
    form_difficulty_level = document.getElementById('id_difficulty_level')
    form_option_a = document.getElementById('id_option_a')
    form_option_b = document.getElementById('id_option_b')
    form_option_c = document.getElementById('id_option_c')
    form_option_d = document.getElementById('id_option_d')
    form_answer = document.getElementById('id_answer')
    question_btn = document.getElementById('question-btn')
    console.log(form_subject)
    e.preventDefault();
    let delbutton = e.target.id == 'delete';
    var editbutton = e.target.id == 'edit';
    edit = editbutton;
    let id = e.target.parentElement.id;
    console.log(id)
    if (delbutton) {
      const parent1 = e.target.parentElement;
      if (confirm(`You want to delete chapter ${(e.target.parentElement.querySelector('.question')).textContent}`)) {
        fetch(`${url}${id}/`, {
          method: 'DELETE',
        }).then(() =>
          location.reload()
        )
      }

    }

    if (editbutton) {
      const parent = e.target.parentElement;
      var subject = parent.querySelector('.subject').textContent;
      var chapter = parent.querySelector('.chapter').textContent;
      var grade = parent.querySelector('.grade').textContent;
      var question = parent.querySelector('.question').textContent;
      var question_type = parent.querySelector('.question_type').textContent;
      var cognitive_level = parent.querySelector('.cognitive_level').textContent;
      var difficulty_level = parent.querySelector('.difficulty_level').textContent;
      var option_a = parent.querySelector('.option_a').textContent;
      var option_b = parent.querySelector('.option_b').textContent;
      var option_c = parent.querySelector('.option_c').textContent;
      var option_d = parent.querySelector('.option_d').textContent;
      var answer = parent.querySelector('.answer').textContent;
      form_grade.value = grade
      form_subject.value = subject
      form_chapter.value = chapter
      console.log(subject)
      form_question.value = question
      form_question_type.value = question_type
      form_cognitive_level.value = cognitive_level
      form_difficulty_level.value = difficulty_level
      form_option_a.value = option_a
      form_option_b.value = option_b
      form_option_c.value = option_c
      form_option_d.value = option_d
      form_answer.value = answer
      id = parent.id
      console.log(id)
      console.log(form_subject)
      question_btn.addEventListener('click', () => {
        if(edit){
          console.log('no')
        fetch(`${url}${id}/`, {
          method: 'PUT',
          headers: {
            'content-Type': 'application/json',  
            'Authorization':'token'+' '+token 
          },
          body: JSON.stringify({
            'subject': form_subject.value,
            'chapter': form_chapter.value,
            'grade': form_grade.value,
            'question': form_question.value,
            'question_type': form_question_type.value,
            'cognitive_level': form_cognitive_level.value,
            'difficulty_level': form_difficulty_level.value,
            'answers': {
              'option_a': form_option_a.value,
              'option_b': form_option_b.value,
              'option_c': form_option_c.value,
              'option_d': form_option_d.value,
              'answer': form_answer.value
            }
          })
        }).then(res => res.json()).then(() =>
          location.reload()
        )
      }
      })
    }
  });


  const question_create = document.getElementById('question-btn')
  question_create.addEventListener('click', () => {
    var grade = document.getElementById('id_grade').value
    var subject = document.getElementById('id_subject').value
    var chapter = document.getElementById('id_chapter').value
    var question = document.getElementById('id_question').value
    var question_type = document.getElementById('id_question_type').value
    var cognitive_level = document.getElementById('id_cognitive_level').value
    var difficulty_level = document.getElementById('id_difficulty_level').value
    var option_a = document.getElementById('id_option_a').value
    var option_b = document.getElementById('id_option_b').value
    var option_c = document.getElementById('id_option_c').value
    var option_d = document.getElementById('id_option_d').value
    var answer = document.getElementById('id_answer').value
    if(!edit){
      console.log('shg')
       fetch(url,
      {
        method: 'POST',
        body: JSON.stringify({
          'subject': subject,
          'chapter': chapter,
          'grade': grade,
          'question': question,
          'question_type': question_type,
          'cognitive_level': cognitive_level,
          'difficulty_level': difficulty_level,
          'answers': {
            'option_a': option_a,
            'option_b': option_b,
            'option_c': option_c,
            'option_d': option_d,
            'answer': answer
          }
        }
        ),
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization':'token'+' '+token 
        },
      }).then(function (response) {
        if (response.status == 201) {
          console.log("Sucess response", response)
          messages.innerHTML = `${name} is created succesfully`;
          get();
          return response.json();
        } else {
          console.log(response);
        }
      })
    }
   
  })
</script>

{% endblock %}