{% extends "base.html" %}
    {% block question %}
        
    <div class="questionbox">
 <form>
     {%csrf_token%}
       {{form.as_p}}
        <button  id="chapter-btn"onclick=getquestion()>Get</button></form>
        </div>      

        <script>
            function getquestion() {
            let token=localStorage.getItem("token")
               var grade = document.getElementById('id_grade').value
               var subject = document.getElementById('id_subject').value
               var no_of_question= document.getElementById('id_no_of_questions').value
               console.log(grade+subject)
               fetch('https://schooltestproject.herokuapp.com/academics/question-paper/',{
                   method: 'POST',
                   body: JSON.stringify({ 'grade': grade,'subject':subject,'number_of_questions':no_of_question}
                   ),
                   headers: new Headers( {
                       'Accept':'application/json',
                       'Content-Type': 'application/json',
                       'Authorization':'token'+' '+token 
               })
               }).then(response=>{
                   return response.json()
               }).then(data=>{
                   console.log(data)
                   let path = `
                 <div class="questionpath">download your pdf file<a href="https://schooltestproject.herokuapp.com${data.path}"> here</a></div>
                       
                   </div>`;
                   let questionPath = document.querySelector('.questionPath')
                   questionPath.innerHTML = path;
                   
               })
        }
        function logout(){
            let token=localStorage.getItem("token")            
            console.log(token)            
            fetch('https://schooltestproject.herokuapp.com/auth/logout/',            
            {            
            method: 'GET',            
            headers: {            
            'Content-Type': 'application/json',            
            'Authorization':'token'+' '+token,            
            // 'Content-Type': 'application/x-www-form-urlencoded',            
            }            
            }) .then(response => response.text())            
            window.location.href='login'            
            } 
               
    
        </script> 
         
        <div class="questionPath">
            
        </div>  
{% endblock %}
