{% extends 'main.html' %}
{% block contents %}
<div class ="body">
    <div id="getstarted"><a class="getstarted" href="signup/" >GetStarted</a></div>
    <p class="para">Examination Process is Important BUT Preparing Question Paper is Challenging. 
        A simplified and easy to use solution to create question papers. With SetNow 
        question Paper Generator entire tedious task of manual question paper creation
        is eradicated swiftly and efficiently. SetNow question paper generator is a remarkable 
        solution for schools/colleges and other educational institutes. Generally conducting an 
        exam is an extremely lengthy process. This may take a lot of time. Teachers have no much
         time for creating question papers so exceedingly perceived school/universities hire other 
         resources who can make test papers. Using the free demo of question paper generator software, 
         the dependency on other human resources is decreasing. Question paper generator generates questions 
         in just minutes. The system allows to add a complexity of question-level using a multitude question 
         like Multiple Choice, Descriptive Question. The system generates module wise question paper. One can set 
         marks on question wise, module wise, module to module also the functionality of without displaying
          marks on the question paper. One can export question paper to pdf format after question paper generated.
    </p>
     <p class="already">Already have an account? <a class="login" href="/login" >login</a></p>
  </div>  
     
{% endblock %}