{% extends "base.html" %}
    {% block content %}
       
        <div class="box1">
        {% csrf_token %}
            {{form.as_p}}
            {{form1.as_p}}
            <button id="chapter-btn"onclick=createquestion()>Create</button></div>
    <script>
        var token=localStorage.getItem('token')
        var host = window.location.protocol + "//" + window.location.host;
        if(token){
            function createquestion() {
                var grade = document.getElementById('id_grade').value
                var subject = document.getElementById('id_subject').value
                var chapter = document.getElementById('id_chapter').value
                var question = document.getElementById('id_question').value
                var question_type = document.getElementById('id_question_type').value
                var cognitive_level = document.getElementById('id_cognitive_level').value
                var difficulty_level = document.getElementById('id_difficulty_level').value
                var option_a = document.getElementById('id_option_a').value
                var option_b = document.getElementById('id_option_b').value
                var option_c = document.getElementById('id_option_c').value
                var option_d = document.getElementById('id_option_d').value
                var answer = document.getElementById('id_answer').value 
                let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                d=JSON.stringify({ 'grade': grade, 'subject': subject, 'chapter': chapter,'question':question, 'question_type': question_type, 'cognitive_level':cognitive_level, 
                    'difficulty_level': difficulty_level, 'answers':{'option_a':option_a,'option_b':option_b,'option_c':option_c,'option_d':option_d,'answer':answer}}
                    )
                    console.log(d);
                fetch('https://schooltestproject.herokuapp.com/api/question/',
                     {
                    method: 'POST',
                    body: JSON.stringify({ 'grade': grade, 'subject': subject, 'chapter': chapter,'question':question, 'question_type': question_type, 'cognitive_level':cognitive_level, 
                    'difficulty_level': difficulty_level, 'answers':{'option_a':option_a,'option_b':option_b,'option_c':option_c,'option_d':option_d,'answer':answer}}
                    ),
                    headers: {
                        'Accept':'application/json',
                        'Content-Type': 'application/json',
                        'Authorization':'token'+' '+token,
                        'X-CSRFToken': csrftoken
                    },
                })
         
                .then(function(response) {
                    if (response.ok) {
                        console.log("Sucess response",response)
                        return response.json();
                    } else {
                        throw new Error("Could not reach the API: " + response.statusText);
                    }
                }).then(function(data) {
                }).catch(function(error) {
                   console.log(error.message)
                });
            return true;
         }
        }
      else{
        window.location.href=`${host}/login` 
      }
    </script>
    
    


 <div>
            {% for l in question %}
            {{l.question}}<br>
           
            {% endfor %}
        </div>
  
       {% endblock %} 

       
